body {
    background: #f5ebdc;
    width: 100%;
    font-family: 'Inter', sans-serif;
    color:#502314;
    padding: 0;
    margin: 0;
}

header {
    width: 100%;
    height: 225px;    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header h1 {
    color: #cc0000;
    font-weight: 800, Extra Bold;
    text-align: right;
    font-size: 28px;
    margin:-5px 0 0 0;
}

header h2{
    color:#502314;
    font-weight: 600;
    line-height: 0%;
    text-align: right;
    font-size: 18px;
    margin:5px 0 0 0;
}

header div img{
    margin: 10px;
}

main {    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#advisor {
    width: 976px;
    height: 100px;
    text-align: center;
}

#advisor h1{
    font-size: 20px;
    font-weight: 600, Semi Bold;
}

.destaque{
    color: #cc0000;
}

.destaque_dois{
    color: #FE9738;
}

#products{
    width: 976px;
    height: 630px;
}

a {
    scroll-behavior: smooth;
}

nav{
    height: 630px;
    width:976px;
    margin: 0px;
}

nav ul{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content:space-between;
    padding: 0;
    scroll-behavior: smooth;
}
nav li{
    width: 300px;
    height: 296px;
    display: inline-block;
    border-radius: 12px 12px 0 0;
    overflow: hidden;
    box-shadow: 0 0 .3em rgb(0,0,0,0.1);
}

nav li:hover, nav li:active{
    background: #FE9738;
    border: 2px solid #FE9738;
}

nav li img{
    height: 177px;
}

.ativo{
    background: #FE9738;
    border: 2px solid #FE9738;
}

.inativo{
    background: #FEd8b5;
    border: 2px solid #FEd8b5;
}

.image_description{
    width: 300px;
    height: 207px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.description{
    height: 50px;
    margin:20px;
    color:#502314;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.description h1{
    margin-top: -5px;
    color:#cc0000;
    font-size: 20px;
    font-weight: 800;
}

.description h2{
    font-size: 14px;
    margin:-30px 0 0 0;
    font-weight: 600;
}
.nome{
    vertical-align: middle;
}

.preco{
    height: 100%;
    font-size: 18px;
    font-weight: bold;
}

.preco span{
    font-size: 39px;
    color:#cc0000;
    font-weight: 800;
}

#cupons-wrapper{
    position: relative;
    margin-top: 40px;
    width: 976px;
    height: 0px;
    background: #fff;
    border-radius: 12px;
    overflow: hidden;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 .3em rgb(0,0,0,0.1);
}

#cupons-wrapper h1{
    font-size: 24px;
    font-weight: 800;
    text-align: center;
}
#cupon-text{
    width: 750px;
    height: 86px;
}
#cupon-code{
    width: 320px;
    height: 90px;
    background: #FEd8b5;
    padding: 0;
    border-radius: 0 12px 12px 0;
    display: flex;
    justify-content: right;
    overflow: hidden;
}
#cupon-id{
    width: 239px;
    height: 90px;
    margin: 0 0 0px 0;
    background: #f5ebdc;
    border-left: 4px dotted #FE9738;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    line-height: 90px;
}

button {
    position: absolute;
    top: 15px;
    right: 15px;
    background: transparent;
    border: 0px;
}
button img{
    width: 30px;
}

footer{
    bottom: 0;
    width: 100%;
    height: 170px;
    display:flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
}
footer div{
    width: 50%;
    text-align: center;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
}